{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
    "ignoreFiles": ["src/styledComponents/GlobalStyle.js", "node_modules/**/*"]
}