// @import 'input-range/input-range';
.form{
  margin-top: 25px;
 
}
.input-range__track {
  background: lightgrey;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 1.5px;
  position: relative;
  // transition: $input-range-track-transition;

  .input-range--disabled & {
    background: blue;
  }
}

.input-range__track--background {
  left: 0;
  margin-top: -0.5 * 50px;
  // position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #002D50 ;
}
.input-range__label-container{
  display: block; 
}
.input-range__label {
 display: none;
}
.input-range__label--min{
  display: block;
  position: absolute;
  top: -20px;
} 
.input-range__label--max{
  display: block;
  position: absolute;
  top: -18px;
  right: 0;
}
.input-range__slider-container{
  height: 10px;
  border-radius: 50%;
  background-color: black;
  width: 10px;
  top: -5px;
  
}