{
  "env": {
    "node": true,
    "es2020": true
  },
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "ignorePatterns": ["client/"],

  "rules": {
    "node/exports-style": [
      "error",
      "module.exports",
      {
        "allowBatchAssign": true
      }
    ]
  }
}
