.navy {
  display: flex;
  width: 90%;
  justify-content: center;
}
.navy :nth-child {
  margin-right: 20px;
  justify-content: space-between;
  text-transform: capitalize;
  cursor: pointer;
  flex-wrap: wrap;
  width: in;
}
.navy :not(:first-child) {
  display: inline;
  justify-content: space-between;
  position: absolute;
  text-align: center;
  background-color: whitesmoke;
  text-transform: capitalize;
  border-bottom: 1px solid black;
}
